{% extends "base.html" %}
{% block title %}アカウント情報{% endblock %}

{% block main %}
<h2>アカウント情報</h2>
<p>ユーザー名： {{ user.username }}</p>
<p>メールアドレス： {{ user.email }}</p>
<a href="{% url 'user_edit' %}">アカウント情報を編集する</a><br>
<a href="{% url 'password_reset' %}">パスワードをリセットする</a>

{% if not user.is_premium %}
  <p>現在は無料会員です。</p>
  <form action="{% url 'create-checkout-session' %}" method="POST">
    {% csrf_token %}
    <button type="submit">有料会員になる</button>
  </form>
{% else %}
  <p>✅ あなたは有料会員です！</p>
{% endif %}

{% if user.is_premium %}
  <form action="{% url 'cancel_subscription' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">有料会員を退会する</button>
  </form>
{% endif %}

<h2>予約履歴一覧</h2>
{% for reservation in reservations %}
  <div style="margin-bottom: 10px;">
    <p>店舗名：{{ reservation.restaurant.name }}</p>
    <p>日付：{{ reservation.date }}</p>
    <p>時間：{{ reservation.time }}</p>
    <p>人数：{{ reservation.number_of_people }}</p>
    <a href="{% url 'reservation_delete' reservation.pk %}" class="btn btn-danger">キャンセル</a>
  </div>
{% empty %}
  <p>予約履歴はありません。</p>
{% endfor %}

<h2>お気に入り登録した店舗</h2>
  {% for favorite in favorites %}
    <p>{{ favorite.restaurant.name }}</p>
    <img src="{{ favorite.restaurant.img.url }}" style="width:100px height:100px;">
    <p>{{ favorite.restaurant.price }}</p>
    <p>{{ favorite.restaurant.address }}</p>
    <p>{{ favorite.restaurant.category }}</p>
  {% empty %}
    <p>お気に入り店舗はありません。</p>
  {% endfor %}
<br>
<a href="{% url 'list' %}">← 店舗一覧に戻る</a>
{% endblock %}