{% extends "base.html" %}
{% block title %}店舗一覧{% endblock %}

<body>
{% block main %}
   <h1>店舗一覧</h1>
   {% for restaurant in object_list %}
   <p>{{ restaurant.name }}</p>
   <p>{{ restaurant.price }}</p>
   <img src="{{ restaurant.img.url }}" style="width:100px height:100px;">
   <button class="btn btn-success" onclick="location.href='{% url 'detail' pk=restaurant.pk %}'">詳細</button>
   <button class="btn btn-success" onclick="location.href=''">レビュー</button>
   <button class="btn btn-success" onclick="location.href=''">予約</button>
   {% endfor %}
   <br>

   {% for category in categories %}
   <a href="{% url 'category' category.id %}">
      {{ category.name }}
   </a><br>
   {% endfor %}
{% endblock %}
</body>
</html>